@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply font-quicksand bg-body;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.padding_Right{
    padding-right: 35px !important;
}

.active{
    background-color: #e5e7eb;
}
li[data-sonner-toast]{
    padding: 10px;
    align-items: center;
}
